# More on Missing Data - Lab

## Introduction

In this lab, you'll continue to practice techniques for dealing with missing data. Moreover, you'll observe the impact on distributions of your data produced by various techniques for dealing with missing data.

## Objectives

In this lab you will: 

- Evaluate and execute the best strategy for dealing with missing, duplicate, and erroneous values for a given dataset   
- Determine how the distribution of data is affected by imputing values

## Load the data

To start, load the dataset `'titanic.csv'` using pandas.

In [1]:
# Your code here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('titanic.csv')

Use the `.info()` method to quickly preview which features have missing data

In [3]:
# Your code here
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            182
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          789
Embarked       102
dtype: int64

## Observe previous measures of centrality

Let's look at the `'Age'` feature. Calculate the mean, median, and standard deviation of this feature. Then plot a histogram of the distribution.

In [4]:
# Your code here
data = df.groupby('Age').aggregate(['mean','median','std'])

      PassengerId                     Survived                      SibSp  \
             mean median         std      mean median       std      mean
Age
0.42   832.000000  839.0   15.652476  0.400000    0.0  0.547723  2.800000
0.67   822.400000  839.0   37.118728  0.600000    1.0  0.547723  3.200000
0.75   768.625000  839.0  138.448482  0.625000    1.0  0.517549  3.875000
0.83   729.428571  839.0  286.823905  0.857143    1.0  0.377964  3.000000
0.92   732.400000  839.0  238.364846  0.600000    1.0  0.547723  2.200000
...           ...    ...         ...       ...    ...       ...       ...
70.00  787.200000  839.0   75.479799  0.400000    0.0  0.547723  2.800000
70.50  598.333333  839.0  416.846894  0.666667    1.0  0.577350  2.000000
71.00  567.250000  666.5  353.174532  0.000000    0.0  0.000000  2.000000
74.00  841.166667  839.0    5.307228  0.166667    0.0  0.408248  3.833333
80.00  769.666667  839.0  120.088856  1.000000    1.0  0.000000  0.666667

                           Parch                        Fare           \
      median       std      mean median       std       mean   median
Age
0.42     4.0  2.588436  2.200000    1.0  2.588436  29.167500  16.1000
0.67     2.0  2.774887  2.000000    2.0  0.707107  22.793340  16.7000
0.75     3.5  1.959410  4.000000    5.0  2.267787  39.575513  19.2583
0.83     3.0  2.081666  1.857143    1.0  2.115701  35.116071  18.7500
0.92     2.0  1.303840  3.200000    2.0  1.643168  96.082500  51.8625
...      ...       ...       ...    ...       ...        ...      ...
70.00    3.0  2.280351  2.200000    1.0  2.588436  52.330000  69.5500
70.50    3.0  1.732051  2.333333    1.0  3.214550   9.987500   8.7125
71.00    1.5  2.449490  2.250000    2.0  2.629956  50.079175  42.0792
74.00    3.5  2.639444  2.500000    2.5  2.509980  16.364583   9.3500
80.00    0.0  1.154701  3.333333    5.0  2.886751  30.016667  30.0000


              std
Age
0.42    25.556234
0.67    12.378123
0.75    38.796216
0.83    44.958654
0.92   110.052381
...           ...
70.00   26.951197
70.50    3.079747
71.00   23.267912
74.00   13.414864
80.00   22.529205

[88 rows x 15 columns]

## Impute missing values using the mean 

Fill the missing `'Age'` values using the average age. (Don't overwrite the original data, as we will be comparing to other methods for dealing with the missing values.) Then recalculate the mean, median, and std and replot the histogram.

In [ ]:
# Your code here

### Commentary

Note that the standard deviation dropped, the median was slightly raised and the distribution has a larger mass near the center.

## Impute missing values using the median 

Fill the missing `'Age'` values, this time using the median age. (Again, don't overwrite the original data, as we will be comparing to other methods for dealing with the missing values.) Then recalculate the mean, median, and std and replot the histogram.

In [ ]:
# Your code here

### Commentary

Imputing the median has similar effectiveness to imputing the mean. The variance is reduced, while the mean is slightly lowered. You can once again see that there is a larger mass of data near the center of the distribution.

## Dropping rows

Finally, let's observe the impact on the distribution if we were to simply drop all of the rows that are missing an age value. Then, calculate the mean, median and standard deviation of the ages along with a histogram, as before.

In [ ]:
# Your code here

### Commentary

Dropping missing values leaves the distribution and associated measures of centrality unchanged, but at the cost of throwing away data.

## Summary

In this lab, you briefly practiced some common techniques for dealing with missing data. Moreover, you observed the impact that these methods had on the distribution of the feature itself. When you begin to tune models on your data, these considerations will be an essential process of developing robust and accurate models.